html {
  --color-Gold-100: rgb(231, 182, 22);
  --color-Gold-200: rgb(202, 157, 10);
  --color-shadow: rgb(233, 117, 9);
}
body {
  margin: 0;
  padding: 0;
  font-family: "Playball", sans-serif;
  background-color: aliceblue;
}

h1 {
  text-align: center;
  color: var(--color-Gold-100);
  text-shadow: 1px 2px var(--color-shadow);
  margin-top: 5px;
}

main {
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: auto 0;
}

#userProfile {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

#name {
  font-family: "Allura", sans-serif;
  font-size: 5rem;
  text-shadow: 1px 3px rgb(240, 205, 9);
}

#profession {
  margin-left: 4.5rem;
  font-size: 1.5rem;
  font-weight: 100;
  text-shadow: 1px 1px wheat;
}

#profpic {
  width: 75%;
  margin: 3rem;
  height: auto;
  border: 1px solid gray;
  box-sizing: content-box;
  border-radius: 75px;
  overflow: hidden;
  object-fit: cover;
  justify-self: center;
}

#userInfo {
  display: flex;
  width: 65rem;
  margin: 0 auto;
  gap: 1rem;
}

.logo img {
  height: 3rem;
}

.logo {
  margin: 0;
  display: flex;
  align-items: center;
}

.logo {
  text-align: center;
  font-size: 1.3rem;
  /* justify-content: center; */
  align-items: center;
}

.i_container {
  /* display: grid; */
  /* position: relative; */
  /* padding: 1em; */
  background-color: #d8dbdd;
}

.i_container h2 {
  text-align: center;
}

#contact {
  padding-right: 5rem;
}
